sudo: required

language: python
python: 
  - "2.7"

services:
  - docker

env:
  global:
    - DOCKER_VERSION=1.10.1-0~trusty
    - DOCKER_COMPOSE_VERSION=1.6.0
    # DOCKER_USER
    - secure: jZw+Ael/sqI4C+5MTTyXw1j3ZME6YiyPoopQCPtFEV5Dn7vaeh0ZDUEbf3T1fo+7Gq2W40POZ7awYwYOAD2OirNOyAbjuK0lAuDm4kfLg1ckhA6PKtqRwUYZG1zx+AKS8S4TDxNZ1ZhP0IWHsWaumb9QYK9tGX5c9tq7LRHwswHbInJKUKdwlLk8mBJPjSPKGae48diGZoofefMCzLJ6pMFZkUOKAmSyaWWz/2VdiOARS9Vum6cEHCQiGCuzuAhnT3N1KnSmUXtazrz3lUOx/QlY2tEfX3Bc3irrfQwMsH7h13XRDc03gjWhOJ/gjwa0fBetO9Pq8ISWWEPGs7YyOVnHUhEYzqBKeWlEsCTD0mAYraC6hB7XUlstj9UKM9KL57cdm+nO8ZBNhIpzWd1kumtoWwqD9V4CxDCM0hH91ZTa41/3WW4ZR+lPyLNOCS8v43CWTCSMuH1IHoTVTgTb63ZhOOFn8qGECvCOuta+CpSg2SnkJhv+V5aOy9M389vXY0iYG3m/m/cjwSSbw876i7Rivt1E+WOLXlrZtrjtzGoA4xZgr+xK4kr6a+wiLEF3sw//EU9c+MZuISEHpR8KefukAyVMkQn0K3eStdO/6iZ7zKjfD8ojgrjmxIbrF08pmEgnem1QHrMd5EQdX5r482Y8ognG0Bypi55c+cWEdZI=
    # DOCKER_PASS
    - secure: ZoHdW7R+ynb0RUulMcM+b1I1DWePaIcJY2/ELvz5PaxySMAyqeTNnIVlsVCdnuKB77IhWohEk+WAHRGRBwI+ZzDryZ1ET/Gh1bZ44tTvH9x9eos++QuQidzlyVs4pPwRe2ZTXFsHucsWldAr3gfAqeqgTrcrsMKbfNQ439nmrQxlitgkqApYZTWX2Xa1wh/Ea6WUkDONd5n4xvvOhQCQuWR1GQI+I5JZAnBb3Vt2kINzKzVHGV8tFDD8mxSST1STdzOhRL4khyVHg7Z31Ylln6Mg4vjbQHsw/qEmfeqgJDVnEaV23l6jt2eBhxtMo7IQLjELVNMA1aOjR2aDKfdYxitNgBFUmlbe6Dhq/2wuiOdE38GP7UCYcMJiph2AboYw0bfFtG0Cz/Ide6JZW9eX+gDEjBpbktUv9jolZu5DzfsG58FByDaRLOj77Lmv7Ocxq1w9iMQE39H0uXGPcgalomNxhkWS43b8k6FdFI1HakBVB0cYysiC4O0jMRLQGqLZuwdkOS99KFLxauNX1KE2mdGsvYy0NzwCiGlBPIMDPbuWAhLhuypEnWs7RUzB30ckFSN1DqDq5fOFosvz41DstYmVWS7dspx5hMj+zUZ0KeCLO0JL2gQ8Fwfe1VM+p6PD8yFnq77BN16N5DMzpYHV/4CYWQVFwLioygW+DT2Vna0=

before_install:
  - docker version
  - sudo rm -rf /usr/local/bin/docker-compose
  - curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname -s`-`uname -m` > docker-compose
  - chmod +x docker-compose
  - sudo mv docker-compose /usr/local/bin
  - docker-compose version

install:
  - make bootstrap

script:
  - make test_ci
  - make crossdock

after_failure:
  - timeout 5 docker-compose -f crossdock/docker-compose.yml logs

after_success:
  - coveralls -v
  - export REPO=jaegertracing/xdock-py
  - export PR=https://api.github.com/repos/$TRAVIS_REPO_SLUG/pulls/$TRAVIS_PULL_REQUEST
  - export BRANCH=$(if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then echo $TRAVIS_BRANCH; else echo `curl -s $PR | jq -r .head.ref`; fi)
  - export TAG=`if [ "$BRANCH" == "master" ]; then echo "latest"; else echo $BRANCH; fi`
  - echo "TRAVIS_BRANCH=$TRAVIS_BRANCH, REPO=$REPO, PR=$PR, BRANCH=$BRANCH, TAG=$TAG"
  - docker login -u $DOCKER_USER -p $DOCKER_PASS
  - docker build -f crossdock/Dockerfile -t $REPO:$COMMIT .
  - docker tag $REPO:$COMMIT $REPO:$TAG
  - docker tag $REPO:$COMMIT $REPO:travis-$TRAVIS_BUILD_NUMBER
  - docker push $REPO

