version: '2'

services:
    crossdock:
        image: crossdock/crossdock
        links:
            - go
            - python
        environment:
            - WAIT_FOR=go,python

            - AXIS_CLIENT=go

            - AXIS_S1NAME=go,python
            - AXIS_SAMPLED=true,false
            - AXIS_S2NAME=go,python
            - AXIS_S2TRANSPORT=http,tchannel
            - AXIS_S3NAME=go,python
            - AXIS_S3TRANSPORT=http,tchannel

            - BEHAVIOR_TRACE=client,s1name,sampled,s2name,s2transport,s3name,s3transport

            - REPORT=compact
    go:
        image: jaegertracing/xdock-go
        ports:
            - "8080-8082"

    python:
        build:
            context: ../.
            dockerfile: crossdock/Dockerfile
        ports:
            - "8080-8082"
