name: CIT Crossdock

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  crossdock:
    runs-on: ubuntu-latest
    env:
      TORNADO: ">=4,<5"
      VIRTUAL_ENV: "github"
    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: actions/setup-python@v2
      with:
        python-version: 3.9

    - uses: docker/login-action@v1
      id: dockerhub-login
      with:
        username: jaegertracingbot
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      env:
        DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      if: env.DOCKERHUB_TOKEN != null

    - name: Export DOCKERHUB_LOGIN variable
      run: |
        echo "DOCKERHUB_LOGIN=true" >> $GITHUB_ENV
      if: steps.dockerhub-login.outcome == 'success'

    - name: Export BRANCH variable for pull_request event
      run: |
        export BRANCH=${GITHUB_HEAD_REF}
        echo "we are on branch=$BRANCH"
        echo "BRANCH=${BRANCH}" >> $GITHUB_ENV
      if: github.event_name == 'pull_request'

    - name: Export BRANCH variable for push event
      run: |
        echo "BRANCH=${GITHUB_REF##*/}" >> $GITHUB_ENV
      if: github.event_name == 'push'

    - name: Install pycurl dependencies
      run: sudo apt-get install libgnutls28-dev libcurl4-openssl-dev libssl-dev

    - name: Install dependencies
      run: make bootstrap

    - name: Build crossdock
      run: bash scripts/build-crossdock.sh

    - name: Output crossdock logs
      run: make crossdock-logs
      if: ${{ failure() }}
